<html>
  <body>
    <p>
      <b>Number of sales:</b><%= @seller.num_sales %>
    </p>
    <p>
      <b>Total sales value:</b><%= @ad.total_sales %>
    </p>
    <p>
      <b>Average price:</b><%= @ad.total_sales / @seller.num_sales %>
    </p>
  </body>
</html>
